-
  const page={
    title:'FRC Team 937',
    subtitle:'The Robotribe',
    author:'Dylan Polson',
    navbar:{
      links:[
        {text:'red2fred2',url:'https://red2fred2.com'},
        {text:'Scouting',url:'https://scouting.937.red2fred2.com'}
      ]
    }
   }
//- -------------------------------------------------------------------------------------------------------------------------------------- -//
doctype html
html
  head
    include ../templates/head.pug
    title #{page.title}
  body
    #video-cover
    video.background(playsinline='',autoplay='',muted='',loop='',src='https://static.red2fred2.com/scouting/video/background.mp4',poster='https://static.red2fred2.com/scouting/images/background.jpg')
    include ../templates/navbar.pug
    include ../templates/header.pug
    section
      h1.centered The team
      hr.centered
      .contatiner.centered
        .col-lg-4#dylan
          h4 asdf
        .col-lg-4#jack
          h4 asdf
        .col-lg-4#tyler
          h4 asdf
    include ../templates/footer.pug
    script(src='script.js')